1. Data Type and Basic Arithmetic:

Scenario:
The school wants to keep track of the number of students in each grade. They currently have the following data:

- Grade 1: 25 students - Grade 2: 30 students - Grade 3: 28 students

You need to perform the following tasks:

a. Calculate and display the total number of students.
b. Calculate and display the average number of students per grade.

In [25]:
grade_1 = 25
grade_2 = 30
grade_3 = 28

In [26]:
total_students = grade_1 + grade_2 + grade_3

In [27]:
print(total_students)

83

In [29]:
grades =[25, 30, 28]

In [30]:
avr_per_grade = total_students/len(grades)

In [31]:
print(avr_per_grade)

27.666666666666668

2. Variable Assignment and String Manipulation:

Scenario:
The school also wants to keep track of some important messages for different grades. They have prepared the following messages:

- Grade 1: "Welcome to Grade 1! We are excited to have you."
- Grade 2: "Hello Grade 2 students! Get ready to learn and have fun."
- Grade 3: "Welcome Grade 3 students. Let's make this a great year of learning."

You need to perform the following tasks:

a. Store the messages in variables corresponding to each grade. b. Display the messages for Grade 2.

In [32]:
Grade1_message = "Welcome to Grade 1! We are excited to have you."
Grade2_message = "Hello Grade 2 students! Get ready to learn and have fun."
Grade3_message = "Welcome Grade 3 students. Let's make this a great year of learning."

In [33]:
print(Grade2_message)

Hello Grade 2 students! Get ready to learn and have fun.




3. Lists and Dictionaries:

Scenario:
The school wants to store a list of subjects for each grade, along with the names of teachers who

 

teach those subjects. Here's the data they have:

- Grade 1: Subjects - Math, English, Science; Teachers - Mr. Smith, Ms. Johnson, Mr. Davis
- Grade 2: Subjects - English, Science, History; Teachers - Ms. Williams, Mr. Davis, Ms. Brown - Grade 3: Subjects - Science, History, Math; Teachers - Ms. Davis, Mr. Johnson, Mr. Smith

You need to perform the following tasks:

1. Create a list of grades

2. Create a list of subjects for each grade.

3. Create a dictionary where keys are the grade names and values are lists of teachers for

each grade.

4. Display the subjects taught in Grade 3.

5. Display the values of Grade 2 in the dictionary.

In [18]:
# No.3.1

grade_list = ["grade1", "grade2", "grade3"]

In [19]:
# No.3.2

grade1_sub =["Maths", "English", "Science"]
grade2_sub = ["English", "Science", "History"]
grade3_sub = ["Science", " History", "Maths"]

In [21]:
# No.3.3

dict_grade = {"grade1" : ["Mr. Smith", "Ms. Johnson", "Mr. Davis"], "grade2": ["Ms. Williams", "Mr. Davis", "Ms. Brown"], 
             "grade3": ["Ms. Davis", "Mr. Johnson", "Mr. Smith"]}
dict_grade

{'grade1': ['Mr. Smith', 'Ms. Johnson', 'Mr. Davis'],
 'grade2': ['Ms. Williams', 'Mr. Davis', 'Ms. Brown'],
 'grade3': ['Ms. Davis', 'Mr. Johnson', 'Mr. Smith']}

In [22]:
#No.3.4

grade2_sub

['English', 'Science', 'History']

In [24]:
#No.3.5

dict_grade["grade2"]

['Ms. Williams', 'Mr. Davis', 'Ms. Brown']